
@{
    ViewBag.Title = "CTSANPHAM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<div class="form-row">
    @foreach (var item in Model)
    {
        <div class="row">

            <img src="~/Content/HinhAnh/@item.ANH" class="col-lg-4 col-md-5 col-sm-4" height="270px"/>
            <div class="col-lg-5">
                <p class="font-weight-bold" style="font-size:1.7em; text-transform:uppercase">@item.TENSP</p>
                <p class="text-justify font-weight-bold" style="font-size:1.5em">@item.MOTA</p>
                <p style="font-size:1.3em"><b>Vận chuyển</b>: Miễn phí vận chuyển cho đơn hàng trên 500.000 VND</p>
                <p style="font-size:1.7em"><b style="color:#4ccfc1">Đơn giá</b>: @item.DONGIA VND</p>
                <div>
                    <button type="button" class="btn btn-warning">MUA NGAY</button>
                    <button type="button" class="btn btn-danger">THÊM GIỎ HÀNG</button>
                </div>
                <br />
                <br />
                
            </div>
            <div class="col-lg-3">
                <p style="font-size:13px">Địa chỉ: @Session["diachi"]</p>
                <img src="~/Content/HinhAnh/ctsanpham.jpg" height="400px" width="250px" />
            </div>
        </div>
    }
    <div class="row"><img src="~/Content/HinhAnh/ctsanpham1.png" class="col-lg-12" /></div>
</div>

